/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e2812b;
    text-shadow: none;
}

::selection {
    background: #e2812b;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: 'brankic1979';
	src:url('../fonts/brankic1979.eot');
	src:url('../fonts/brankic1979.eot?#iefix') format('embedded-opentype'),
		url('../fonts/brankic1979.svg#brankic1979') format('svg'),
		url('../fonts/brankic1979.woff') format('woff'),
		url('../fonts/brankic1979.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'brankic1979';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-calendar:before {
	content: "\64";
	font-size:2.0em;
	color:#d68d4c;
	display:block;
	float:left;
	margin-right:15px;
}
.icon-time:before {
	content: "\74";
	font-size:2.0em;
	color:#d68d4c;
	display:block;
	float:left;
	margin-right:15px;
}
.topstrip {
	width:100%;
	height:760px;
	background:#000 url(/Content/Demo/header-bg.jpg) no-repeat top center;
	position:fixed;
	top:0;
	-webkit-font-smoothing:antialiased;
}
.topstrip .mainheader {
	width:1000px;
	margin:0 auto;
	color:#fff;
}
.topstrip .mainheader .logo {
	margin-top:90px;
	float:left;
	width:277px;
}
.topstrip nav {
	float:right;
	width:450px;
	margin-top:77px;
	font-family:'Open Sans', sans-serif;
}
nav li {
	float:left;
	margin:0 0 0 50px;
}
#follownav nav {
	float:right;
	margin-top:0px;
	font-family:'Open Sans', sans-serif;
	-webkit-font-smoothing:antialiased;
}
.follownavwrap {
	width:1000px;
	margin:0 auto;
}
.follownavwrap .logo {
	margin-top:15px;
}
nav li:first-child {
	margin:0;
}
nav a {
	padding:5px;
	color:#fff;
	display:block;
	-moz-transition:all 0.3s ease-in-out; 
	-webkit-transition:all 0.3s ease-in-out;
	text-decoration:none; 
}
nav a p { 
	text-transform:lowercase; 
	color:rgba(204, 204, 204, 0.7); 
	color:#ccc; 
	font-size:0.8em;
	margin-top:0px;
	font-weight:300;

}
nav a p:first-child { 
	text-transform:uppercase; 
	color:#fff; 
	font-size:1.25em;
	margin-bottom:0px;
	font-weight:700;
}
nav a:hover p { 
	color:#e2812b; 
	-moz-transition:all 0.3s ease-in-out; 
	-webkit-transition:all 0.3s ease-in-out; 
}
.topstrip .mainheader h1 {
	display:block;
	font-family:'arvo', serif;
	float:left;
	font-weight:normal;
	width:1000px;
	text-align:center;
	margin-top:135px;
	margin-bottom:10px;
	font-size:4.5em;
	text-shadow:#000 1px 1px;
}
.topstrip .mainheader h2 {
	display:block;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:1.5em;
	width:800px;
	text-align:center;
	float:left;
	line-height:1.9em;
	margin-left:90px;
}
.topstrip .ctastrip {
	float:left;
	width:100%;
	background-color: rgba(0, 0, 0, 0.6);
	height:82px;
	margin-top:137px;
	font-family:'Open Sans', sans-serif;
}
.ctastrip .datebox {
	width:82px;
	height:82px;
	background:#e2812b;
	float:left;
}
.ctahold {
	width:382px;
	margin:0 auto;
}
.datebox p {
	margin:0px;
	display:block;
	text-transform:uppercase;
	color:#fff;
	font-weight:300;
	font-size:1.5em;
	padding-left:20px;
	padding-top:5px;
}
.datebox p:first-child {
	display:block;
	margin:0px;
	font-size:2.25em;
	font-weight:700;
	height:30px;
}
.ctastrip .registercta {
	display:block;
	width:285px;
	height:70px;
	background:#ca6913;
	float:left;
	text-decoration:none;
	padding-top:12px;
	padding-left:15px;
}
.ctastrip a {
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}
.ctastrip a:hover {
	background:#e2812b;
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}

.ctastrip .registercta p {
	color:#fff;
	text-decoration:none;
	margin:0px;
	color:#f0af75;
}
.ctastrip .registercta p:first-child {
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	font-size:1.5em;
	margin:0px;
}
.site {
	position:relative;
	top:760px;
	background:#fff;
}
.site .whatwrap .whatstrip {
	width:1000px;
	margin:0 auto;
	padding-top:135px;
	overflow:auto;
	margin-bottom:190px;
}
.textcontent {
	float:left;
	width:500px;
}
.speaker {
	float:left;
	width:500px;
}
.textcontent h1 {
	display:block;
	font-family:'arvo', serif;
	font-weight:normal;
	color:#d68d4c;
	font-size:2.25em;
}
.textcontent p {
	font-size:1.5em;
	color:#8c8c8c;
	line-height:1.8em;
}
a {
	color:#ec9a51;
	text-decoration:none;
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}
a:hover {
	color:#000;
	-moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;
}
.speakerbox {
	position: relative;
	background: #000000;
	display:block;
	width:458px;
	height:93px;
	color:#fff;
	text-transform:uppercase;
	-webkit-font-smoothing:antialiased;
	font-weight:700;
	font-size:1.125em;
	line-height:93px;
	text-align:center;
	margin:0px 0px 0px 40px;
}
.speakerbox:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.speakerbox:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.bgbox {
	width:418px;
	height:201px;
	background:url(../img/speakerbg.jpg) no-repeat center center #F90;
	color:#fff;
	font-size:1.125em;
	-webkit-font-smoothing:antialiased;
	padding:20px;
	margin:-16px 0px 0px 40px;
}
.bold {
	font-weight:700;
}
.whenwrap {
	background:#f3f3f3;
}
.whenstrip {
	width:1000px;
	margin:0 auto;
	overflow:auto;
	padding-top:135px;
}
.meetupbox {
	width:398px;
	float:left;
	height:371px;
	background:#e4e4e4;
	margin-left:40px;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	font-size:1.5em;
	line-height:1.8em;
	color:#8c8c8c;
}
.datetimebox {
	background:#FFF;
	-webkit-box-shadow: 1px 1px 0px 0px #e7e7e7;
	box-shadow: 1px 1px 0px 0px #e7e7e7;
	height:103px;
	width:440px;
	font-weight:700;
	font-size:1.0em;
	padding:30px;
	margin-bottom:195px;
}
.datetimebox p {
	display:block;
	margin:0px 0px 10px 0px;
	padding:0px;
	height:50px;
}
.meetuplogo {
	margin-top:50px;
}
.mapwrap {
	height:688px;
	width:100%;
	position:relative;
}
.maplabel {
	z-index:10;
	width:635px;
	height:133px;
	background:#f79a48;
	position:absolute;
	top:210px;
	left:450px;
	-webkit-box-shadow: 3px 3px 0px 0px #f8b982;
	box-shadow: 3px 3px 0px 0px #f8b982;
	padding-top:30px;
	padding-left:30px;
	
}
.maplabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.maplabel:after {
	border-color: rgba(247, 154, 72, 0);
	border-right-color: #f79a48;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.maplabel p {
	margin:0;
	display:block;
	color:#fff;
	font-weight:700;
	font-size:2.5em;
}
.maplabel p:last-child {
	font-weight:300;
	font-size:1.6em;
}
.maplabel a {
	color:#FFF;
	text-decoration:none;
}
.maplabel a:hover {
	color:#f5d2b4;
}
.footerwrap {
	width:100%;
	height:320px;
	background:#000;
}
.mainfooter {
	width:1000px;
	margin:0 auto;
	overflow:auto;
}
.footerthanks {
	display:block;
	margin-top:40px;
	float:left;
}
.footerlogo {
	display:block;
	float:left;
	margin-top:105px;
	margin-left:110px;
}
.footergecko {
	display:block;
	float:right;
	margin-top:105px;
}
.mainfooter p {
	display:block;
	float:left;
	width:1000px;
	text-align:center;
	margin-top:50px;
	color:#656565;
	font-size:0.9em;
}
#follownav {
	height:70px;
	width:100%;
	background:#000;
	position:fixed;
	z-index:999;
}
.hide {
	display:none;
}
.show {
	display:block;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
